{%extends '../common/layout.html'%}

{%block center_column%}
<form action="/account" method="post">
    <div style="margin-bottom: 20px;">
        <label style="display:block; color:#333; font-size: 14px; font-weight:bold;">Username</label>
        <textarea class="form-control" rows="1" name = "username"></textarea>
    </div>
    <div style="margin-bottom: 20px;">
        <label style="display:block; color:#333; font-size: 14px; font-weight:bold;">Full Name</label>
        <textarea class="form-control" rows="1" name = "full_name"></textarea>
    </div>
    <div style="margin-bottom: 20px;">
        <label style="display:block; color:#333; font-size: 14px; font-weight:bold;">Email</label>
        <textarea class="form-control" rows="1" name = "email"></textarea>

    </div>
    <div class="form-actions-custom" style="padding-left:0px; margin-left:0px; margin-top:50px;">
        <button type="submit" class="btn btn-default">Save</button>
    </div>
</form>
{%endblock%}