{%extends '../common/layout.html'%}

{%block content%}
<legend>
    Dashboard
</legend>
<div>
    <form method="post">
        <div class="control-group">
            <label for="commands">Commands</label>
            <textarea id="commands" name="commands" class="input-large span12"></textarea>
        </div>
        <div class="control-group">
            <div class="form-actions">
                <button class="btn-primary">Build</button>
            </div>
        </div>
    </form>

</div>
{%endblock%}
