{%extends '../common/layout.html'%}

{%block content%}
<div class="editor">
    <div class="project-nav">
        <ul>
            <li class="active"><a href="/dashboard">Editor</a></li>
        </ul>
    </div>
    <div>
        <form method="post">
            <div class="ctrl">
                <textarea rows="10" id="commands" name="commands"></textarea>
            </div>
            <div class="action">
                <button class="primary">Build</button>
            </div>
        </form>
    </div>
</div>
{%endblock%}
