{%extends '../common/layout.html'%}

{%block content%}
<div class="navbar navbar-fixed-top">
    <div class="nav-collapse collapse">
        <a class="brand" href="#">Plataforma de Integração Contínua</a>
        <ul class="nav pull-right">
            <li class="active"><a href="http://www.google.pt">Google</a></li>
            <li class="active"><a href="http://www.yandex.com">Yandex</a></li>
            <li class="active"><a href="https://www.bing.com/">Bing</a></li>
        </ul>
    </div>
</div>
{%endblock%}
